@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  width: 100% !important;
}

.bg-primary {
  background-color: #fea82f !important;
}

.bg-secondary {
  background-color: #ffc288 !important;
}

.btn-primary {
  background-color: #fea82f !important;
  color: white !important;
  border: none;
}

.btn-primary:hover {
  background-color: #dd942d !important;
}

.btn-secondary {
  background-color: #ffc288 !important;
  color: white !important;
}

.btn-secondary:hover {
  background-color: #c49468 !important;
}

.bg-dark {
  background-color: #36322c !important;
}

.text-primary {
  color: #fea82f !important;
}

.text-secondary {
  color: #ffc288 !important;
}

.text-brand {
  font-family: 'Oleo Script Swash Caps', cursive;
}

.tab-panel {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
  }
  
  .nav-tabs > li.open, .member-tabset > .nav-tabs > li:hover {
    border-bottom: 4px solid #fbcdcf;
  }
  
  .member-tabset > .nav-tabs > li.open > a, .member-tabset > .nav-tabs > li:hover > a {
    border: 0;
    background: none !important;
    color: #333333;
  }
  
  .member-tabset > .nav-tabs > li.open > a > i, .member-tabset > .nav-tabs > li:hover > a > i {
    color: #a6a6a6;
  }
  
  .member-tabset > .nav-tabs > li.open .dropdown-menu, .member-tabset > .nav-tabs > li:hover .dropdown-menu {
    margin-top: 0px;
  }
  
  .member-tabset > .nav-tabs > li.active {
    border-bottom: 4px solid #E95420;
    position: relative;
  }
  
  .member-tabset > .nav-tabs > li.active > a {
    border: 0 !important;
    color: #333333;
  }
  
  .member-tabset > .nav-tabs > li.active > a > i {
    color: #404040;
  }
  
  .member-tabset > .tab-content {
    margin-top: -3px;
    background-color: #fff;
    border: 0;
    border-top: 1px solid #eee;
    padding: 15px 0;
  }
 
  html, body {
    min-height: 100vh;
    height: auto;
    margin: 0;
  }

  .pagination > li {
    margin: 0 0.1rem;
  }
  
  .pagination > .pagination-first.disabled > a,
  .pagination > .pagination-prev.disabled > a,
  .pagination > .pagination-next.disabled > a,
  .pagination > .pagination-last.disabled > a {
    text-align: center;
    background-color: transparent !important;
    border-color: transparent !important;
    color: #d6d6d6;
  }
  
  
  .pagination > .pagination-first > a,
  .pagination > .pagination-prev > a,
  .pagination > .pagination-next > a,
  .pagination > .pagination-last > a,
  .pagination > .pagination-page > a {
    text-align: center;
    background-color: transparent !important;
    border-color: transparent !important;
    color: #000000;
  }
  
  .pagination > .pagination-page.active > a{
    text-align: center;
    background-color: #fea82f !important;
    border-color: #fea82f !important;
    border-radius: 3px;
    color: #ffffff;
  }