<div class="row">
    <div *ngFor="let photo of photos" class="col-sm-2">
        <h4>{{photo.username}}</h4>
        <img src="{{photo.url}}" alt="{{photo.username}}" class='img-thumbnail p-1'>
        <div class="text-center" style="max-width: 150px;">
            <button
                (click)="approvePhoto(photo.id)"
                class="btn btn-sm btn-success mr-2">Approve</button>
            <button
                (click)="rejectPhoto(photo.id)"
                class="btn btn-sm btn-danger">Reject</button>
        </div>
    </div>
</div>