<div class="container mt-5">
    <div class="text-center">
        <img class="bg-image mb-5" 
            style="max-width: 200px" src="./assets/sad_icon.png" alt="">
        <h1 style="font-size: 3rem;">Oops! Page not found?</h1>
        <h3 class="mt-4">The page you were looking for does not exist.</h3>
        <p class="text-muted">We're sorry for this inconvenience. Here what you can do to make this go away</p>
        <button class="btn btn-info btg-lg" routerLink='/'>Return to home page</button>
    </div>
</div>