<footer class="bg-dark text-center text-lg-start">
  <div class="row col-md-12">
    <div class="col-md-1"></div>
    <div class="col-md-4 mt-3 text-light mx-3">
      <h2 class="text-light">Matches</h2>
      <p class="text-light mt-4">
        Maecenas dapibus ullamcorper orci, nec dictum ipsum laoreet eget. Curabitur luctus,
         velit sit amet egestas aliquam, mi ante posuere massa, nec vestibulum felis mi sit amet lectus.
      </p>
    </div>
    <div class="col-md-3">
      <ul class="list-group">
        
        <li class="list-group-item">
          <h2 class="text-light">Link</h2>
        </li>

        <div class="row col-md-12">
          <div class="col-md-4">
            <li class="list-group-item">
              <a class="text-decoration-none" href="/">Home</a>
            </li>
            <li class="list-group-item">
              <a class="text-decoration-none" href="/">FAQs</a>
            </li>
          </div>
          <div class="col-md-8">
            <li class="list-group-item">
              <a class="text-decoration-none" href="/">Privacy Policy</a>
            </li>
            <li class="list-group-item">
              <a class="text-decoration-none" href="/">Terms of Service</a>
            </li>
          </div>
        </div>
        
       
      </ul>

    </div>
    <div class="col-md-3 mt-3">
      <h2 class="text-light">Follow us</h2>
      <button
        class="btn shadow-none m-1"
        style="background-color: #3b5998; width: 50px; height: 50px;"
        href=""
        ><i class="fa fa-facebook text-light"></i
      ></button>
      <button
        class="btn shadow-none m-1"
        style="background-color: #57aae2; width: 50px; height: 50px;"
        href="#!"
        ><i class="fa fa-twitter text-light"></i
      ></button>
      <button
        class="btn shadow-none m-1"
        style="background-color: #1654da;width: 50px; height: 50px;"
        href="#!"
        ><i class="fa fa-linkedin text-light"></i
      ></button>
      <button
        class="btn shadow-none m-1"
        style="background-color: #000000; width: 50px; height: 50px;"
        href="#!"
        ><i class="fa fa-github text-light"></i
      ></button>
      <button
        class="btn shadow-none m-1"
        style="background-color: #ff30a9;"
        href="#!"
        ><i class="fa fa-instagram text-light"></i
      ></button>
    </div>
  </div>
    <div class="text-center p-3 text-light" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2021 Copyright:
      <a class="text-decoration-none"  href="https://github.com/hinn2511/DatingApp">https://github.com/hinn2511/DatingApp</a>
    </div>
  </footer>