img {
    max-width: 1000px;
}

.homepage-cover {
    background-image: url('/../assets/homepage_cover.jpg');
    background-size: cover;
    margin: -20px -111.6px 0  -111.6px;
    left: 0;
    min-width: 100%;
    height: fit-content;
    min-height: 600px;
}

.info {
    margin: -20px -111.6px 0  -111.6px;
    left: 0;
    min-width: 100%;
    height: fit-content;
}
  
  .card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
  }
  .card-registration .select-arrow {
    top: 13px;
  }

.home-card {
    margin-top: auto;
    margin-bottom: auto;
}

.mini-card {
    margin-top: 50px;
}

.slogan {
    font-size: 6rem;
    color: white;
    font-family: Helvetica;
}

.slogan-small {
    font-size: 3rem;
    color: aliceblue;
}

.btn {
    border-radius: 10px;
    font-size: 2rem;
}