<section class="gradient-custom">
    <div class="container py-5 h-100">
      <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-lg-9 col-xl-7">
          <div class="card shadow-2-strong card-registration mt-2" style="border-radius: 15px;">
            <div class="card-body p-4 p-md-5">
                <div *ngIf="register" class="container mt-3">
                    <div *ngIf="!registerMode" style="text-align: center;">

                        <img src="./assets/register_cover.jpg" class="mb-5" style="width: 100%; border-radius: 10px;" alt="">
                        <h1>Find your match</h1>
                        <p class="lead">What are you waiting for...all you need is sign up!</p>
                        <div class="text-center mb-4">
                            <button (click)="registerToggle()" class="btn btn-primary btn-lg mr-2">Register</button>
                            <button class="btn btn-info btn-lg">Learn more</button>
                        </div>                        
                    </div>
                    <div *ngIf="registerMode" class="container" >
                        <div class="row justify-content-center">
                            <div class="col-8">
                                <app-register-content (cancelRegister)="cancelRegisterMode($event)"></app-register-content>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>