.bg-image {
  background-image: url("../../assets/register.jpg");
    object-fit: contain;
    background-repeat: no-repeat;
    background-position: 30% 30%;

}

.card { 
  min-width: 40vw;
  border-radius: none !important;
  border: none !important;
    animation-name: register;
      animation-duration: 0.5s;
      animation-timing-function: ease-in-out;
}

@keyframes register {
  from {right: -200px}
  to { right: 0;}
}