<nav class="navbar navbar-expand-lg navbar-transparent bg-transparent">
  <div class="container-fluid brand">
    <img class="icon mr-2" src="./assets/logo.png" alt="icon" routerLink="/home">
    <h4 class="text-primary text-brand mr-5" routerLink="/home">Loveletter</h4>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <ng-container *ngIf="accountService.currentUser$ | async">
          <li class="nav-item">
            <a class="nav-link" routerLink="/members" routerLinkActive='active'>Matches</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/lists" routerLinkActive='active'>Favorites</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/messages" routerLinkActive='active'>Messages</a>
          </li>
          <li *appHasRole='["Admin", "Moderator"]' class="nav-item">
            <a class="nav-link" routerLink="/admin" routerLinkActive='active'>Admin</a>
          </li>
          <li *appHasRole='["Admin", "Moderator"]' class="nav-item">
            <a class="nav-link" routerLink="/errors" routerLinkActive='active'>Errors</a>
          </li>
        </ng-container>
      </ul>

      <div class="dropdown" *ngIf="(accountService.currentUser$ | async) as user" dropdown>
        <img class="avatar" src="{{user.photoUrl || './assets/user.png'}}" alt="{{user.username}}">
        <a class="dropdown-toggle text-dark ml-2" dropdownToggle>Welcome, {{user.knownAs || user.username |
          titlecase}}</a>
        <div class="dropdown-menu mt-3" *dropdownMenu>
          <a routerLink='/member/edit' class="dropdown-item">Edit Profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()">Logout</a>
        </div>
      </div>

    </div>
    <div class="d-flex">
      <ng-container *ngIf="(accountService.currentUser$ | async) === null">
        <a class="text-dark text-decoration-none me-4" routerLink="/login" routerLinkActive='active'>Login</a>
        <a class="text-dark text-decoration-none me-2" routerLink="/register" routerLinkActive='active'>Register</a>
      </ng-container>
    </div>
  </div>
</nav>