.dropdown-toggle, .dropdown-item {
    cursor: pointer;
}

.avatar {
    height: 40px;
    border: 2px solid white;
    display: inline;
    border-radius: 999px;
}

.brand > img {
    max-width: 30px;
    max-height: 30px;
    vertical-align: middle;
    transform: scale(1,1);
    transition: all ease-in-out 400ms;
    cursor: pointer;
}

.brand > h4 {
    vertical-align: middle;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.brand > img:hover {
    transform: scale(1.1, 1.1);
    transition: all ease-in-out 400ms;
    
}


.active {
    border-radius: 0px !important;
    border-bottom: 3px solid #fea82f;
  }
  