.bg-image {
    background-image: url("../../assets/login.jpg");
    object-fit: contain;
    background-repeat: no-repeat;
    background-position: 60% 30%;
  
  }

  .card { 
    min-width: 40vw;
    border-radius: none !important;
      animation-name: login;
        animation-duration: 0.5s;
        animation-timing-function: ease-in-out;
  }

  @keyframes login {
    from {right: -200px}
    to { right: 0;}
  }